* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}


.container {
    width: 460px;
    background: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    margin: 0 auto;
    position: relative;
}

.title,
.top-img {
    position: absolute;
    top: 0;
    ;
}

.top-img {
    right: 0;
    transform: translateY(-60%)
}

.title {
    font-weight: 700;
    left: 0;
    color: white;
    transform: translateY(-100%)
}

.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #1D355D;
    height: 400px;
    text-align: center;
    margin-top: 2rem;
}

.start-container p {
    text-transform: uppercase;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

button {
    background: #1D355D;
    border: 2px solid #1D355D;
    color: white;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s ease;
}

button:hover {
    background: white;
    color: #1D355D;
}

.anwser-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

label {
    width: 400px;
    height: 48px;
    cursor: pointer;
    padding: .25rem;
    margin: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    border: 2px solid #6066d0;
    color: #6066d0;
    font-size: 1rem;
    line-height: 1;
}

#flag {
    height: 80px;
}

#flag img {
    height: 80px;
    object-fit: contain;
    box-shadow: 0 0 10px rgb(198, 197, 197);
}

h2 {
    font-size: 1.25rem;
    margin: .5rem 0;
}



.wrong {
    background: #EA8282;
    border-color: #EA8282;
    color: white;
}

.correct {
    background: #60BF88;
    border-color: #60BF88;
    color: white;
}

input:checked+label {
    color: white;
    background: #F9A826;
    border-color: #F9A826;
}

input {
    display: none;
}

#score,
#chances {
    position: absolute;
    bottom: -60px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

#score {
    left: 0;
}

#chances {
    right: 0;
}


.end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    height: 400px;
}

#result {
    color: #60BF88;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 .25rem;
}






.hidden {
    display: none;
}